
#canvas {
    border: 1px solid black;
}

body {
    background-image: url("../images/xwallpaper.png");
    background-size: cover;
}

.window_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}